MONGODB_URI="mongodb+srv://Vercel-Admin-atlas-handcrafted-haven:FfI5U0batZvir0oe@atlas-handcrafted-haven.19ye23m.mongodb.net/?retryWrites=true&w=majority"

SESSION_SECRET="effe9c25717b3a41757fe1193bd00a6174fdf48611797095f3b18c0e1be0340b"
